@charset "UTF-8";

#info_hr{
	height: 2px;
	background-color: red;
	width: 120%;
	margin-left: -2px;
}

#info_name{
	font-weight: bolder;
}

#info_location{
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 2%;
}

#info_description{
	margin-bottom: 10%;
}