@charset "UTF-8";

#cs_name {
	font-size: 2rem;
	font-weight: bold; margin-top : 2%;
	margin-bottom: 0.6%;
	margin-top: 2%;
}

#cs_name2 {
	font-size: 2rem;
	font-weight: bold; margin-top : 2%;
	margin-bottom: 0.6%;
	margin-top: 10%;
}

#cs_line {
	border: 1px solid black;
	border-left: 0px;
	border-right: 0px;
}

#cs_faq>* {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

#cs_faq a {
	text-align: center;
}

#cs_faq {
	display: flex;
	justify-content: space-around;
}

#cs_hr{
	border: 1px solid black;
	margin-bottom: 2%;
}

#form-select1{
	margin-top: 1%;
	margin-bottom: 1%;
}

#form-select2{
	margin-top: 1%;
	margin-bottom: 1%;
}

#form-select3{
	margin-top: 1%;
	margin-bottom: 1%;
}

#form-select4{
	margin-top: 1%;
	margin-bottom: 1%;
}

#table_payment>*{
	border-right: 1px solid red;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#table_payment>*>*{
	border: 1px solid blue;
	border-top: 0px;
	border-right: 0px;
	margin: 0px;
	padding: 0px;
}
#table_payment_height>*{
	border-top: 1px solid black;
}
#table_payment_content{
	font-weight: normal;
	font-size: 1rem;
}

#table_delivery>*{
	border-right: 1px solid red;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#table_delivery>*>*{
	border: 1px solid blue;
	border-top: 0px;
	border-right: 0px;
	margin: 0px;
	padding: 0px;
}
#table_delivery_height>*{
	border-top: 1px solid black;
}
#table_delivery_content{
	font-weight: normal;
	font-size: 1rem;
}


#table_change>*{
	border-right: 1px solid red;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#table_change>*>*{
	border: 1px solid blue;
	border-top: 0px;
	border-right: 0px;
	margin: 0px;
	padding: 0px;
}
#table_change_height>*{
	border-top: 1px solid black;
}
#table_change_content{
	font-weight: normal;
	font-size: 1rem;
}


#table_user>*{
	border-right: 1px solid red;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#table_user>*>*{
	border: 1px solid blue;
	border-top: 0px;
	border-right: 0px;
	margin: 0px;
	padding: 0px;
}
#table_user_height>*{
	border-top: 1px solid black;
}
#table_user_content{
	font-weight: normal;
	font-size: 1rem;
}

#table_table2>*{
	border-right: 1px solid red;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#table_table2>*>*{
	border: 1px solid blue;
	border-top: 0px;
	border-right: 0px;
	margin: 0px;
	padding: 0px;
}
#table_height2>*{
	border-top: 1px solid black;
}
#table_content2{
	font-weight: normal;
	font-size: 1rem;
}

.hide{
	display: none;
}

