#usable_point > p{
  padding-top: 0px;
  margin-top: 0px;
}
body{
  background-image: url(../img/paper.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}
#naaav{
  background-color: antiquewhite;
}
#main_wrapper{
  margin-top: 10%;
}
#howmuchsub, #usepoint{
  text-align: right;
}
#whysoclose{
  margin-bottom: 20px;
}
#whysoclose > div > button{
  background-color: rgb(148, 148, 148);
  border-color: rgb(148, 148, 148);
}
#whisper > li{
  font-size: 0.5em;
  color: rgb(166, 166, 167);
}
#deliver{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  
}
