@charset "UTF-8";

#info_hr{
	height: 2px;
	background-color: red;
	width: 98%;
	margin-left: 1%;
	margin-bottom: 2%;
}

#info_name{
	font-weight: bolder;
	margin-bottom: 2%;
}

#info_location{
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

#info_description1{
	margin-bottom: 10%;
}
#info_description2{
	margin-top: 10%;
	margin-bottom: 10%;
}

#img {
	margin-top: 15%;
	filter: alpha;
	margin-bottom: 2%;
	opacity: 0.85;
}

#img:hover {
	opacity: 1.0;
	filter: alpha;
}

#map{
	margin-bottom: 3%;
}